<div ng-controller="moviesController">
    <div ng-init="getMoviesOnClick();">
        <table class="table table-striped">
            <tr>
                <th>Cím</th>
                <th>Leírás</th>
                <th>Azonosító</th>
                <th>Lehetőségek</th>
            </tr>
            <tr ng-repeat="movie in movies">
                <td>{{ movie.title }}</td>
                <td>{{ movie.description }}</td>
                <td>Azonosító: {{ movie.id }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-warning" href="#!/edit/{{ movie.id }}">Szerkesztés</a>
                        <button class="btn btn-danger" ng-click="deleteMovie(movie)">Törlés</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="btn-group">
        <a class="btn btn-success" href="#!/create">Hozzáad</a>
    </div>
</div>