<div ng-controller="moviesController">
    <div>
        <a class="btn btn-default" href="#!/create">Hozzáad</a>
    </div>
    <div ng-init="getMoviesOnClick();">
        <ul>
            <li ng-repeat="movie in movies">
                <p>{{ movie.title }}</p>
                <p>{{ movie.description }}</p>
                <p>Azonosító: {{ movie.id }}</p>
                <a class="btn btn-default" href="#!/edit/{{ movie.id }}">Szerkesztés</a>
                <button class="btn btn-default" ng-click="deleteMovie(movie)">Törlés</button>
            </li>
        </ul>
    </div>
</div>