<!doctype html>
<html ng-app="moviesApp">

<head>
    <meta charset="utf-8">
    <title>AngularJS Intro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body ng-controller="moviesController">
    <button class="btn btn-default" ng-click="showhide()">Show/hide</button>
    <table class="table table-striped" ng-show="visible">
        <tr ng-repeat="movie in movies">
            <td class="col-md-3"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>{{ movie.title }}</td>
            <td class="col-md-9">
                <p>{{ movie.description }}</p>
            </td>
        </tr>
    </table>
    <p class="bg-info">Total number of movies: {{ movies.length }}</p>
</body>

</html>